@charset "utf-8";

html {
    box-sizing: content-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #330066;
}
img[src="images/Hero-Image.jpg"] {
    /* outline: dashed 2px pink; */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transition: transform 0.1s ease;
    z-index: -1;
    grid-area: logo;
}

img[src="images/Hero-Image.jpg"]:active {
    transform: scale(0.98);
}